-- CreateEnum
CREATE TYPE "DogSize" AS ENUM ('SMALL', 'MEDIUM', 'LARGE');

-- CreateEnum
CREATE TYPE "SourceType" AS ENUM ('HTML', 'JSON_API');

-- CreateEnum
CREATE TYPE "CrawlStatus" AS ENUM ('PENDING', 'RUNNING', 'SUCCESS', 'FAILED');

-- CreateTable
CREATE TABLE "Campsite" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "address" TEXT NOT NULL,
    "region" TEXT NOT NULL,
    "latitude" DOUBLE PRECISION,
    "longitude" DOUBLE PRECISION,
    "phone" TEXT,
    "mainImageUrl" TEXT,
    "externalUrl" TEXT,
    "sourceSiteId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Campsite_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DogPolicy" (
    "id" TEXT NOT NULL,
    "campsiteId" TEXT NOT NULL,
    "allowed" BOOLEAN NOT NULL DEFAULT true,
    "sizeMinKg" DOUBLE PRECISION,
    "sizeMaxKg" DOUBLE PRECISION,
    "sizeCategory" "DogSize",
    "maxDogs" INTEGER,
    "extraFee" INTEGER,
    "indoorAllowed" BOOLEAN,
    "outdoorOnly" BOOLEAN,
    "note" TEXT,

    CONSTRAINT "DogPolicy_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Availability" (
    "id" TEXT NOT NULL,
    "campsiteId" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "isAvailable" BOOLEAN NOT NULL,
    "minStayNights" INTEGER,
    "basePriceFrom" INTEGER,

    CONSTRAINT "Availability_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FacilityTag" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "FacilityTag_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CampsiteFacility" (
    "campsiteId" TEXT NOT NULL,
    "facilityTagId" TEXT NOT NULL,

    CONSTRAINT "CampsiteFacility_pkey" PRIMARY KEY ("campsiteId","facilityTagId")
);

-- CreateTable
CREATE TABLE "SourceSite" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "baseUrl" TEXT NOT NULL,
    "type" "SourceType" NOT NULL,
    "enabled" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "SourceSite_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CrawlLog" (
    "id" TEXT NOT NULL,
    "sourceSiteId" TEXT NOT NULL,
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "finishedAt" TIMESTAMP(3),
    "status" "CrawlStatus" NOT NULL,
    "newItemsCount" INTEGER NOT NULL DEFAULT 0,
    "updatedItemsCount" INTEGER NOT NULL DEFAULT 0,
    "errorMessage" TEXT,

    CONSTRAINT "CrawlLog_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "DogPolicy_campsiteId_key" ON "DogPolicy"("campsiteId");

-- CreateIndex
CREATE INDEX "Availability_campsiteId_date_idx" ON "Availability"("campsiteId", "date");

-- CreateIndex
CREATE UNIQUE INDEX "FacilityTag_name_key" ON "FacilityTag"("name");

-- AddForeignKey
ALTER TABLE "Campsite" ADD CONSTRAINT "Campsite_sourceSiteId_fkey" FOREIGN KEY ("sourceSiteId") REFERENCES "SourceSite"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DogPolicy" ADD CONSTRAINT "DogPolicy_campsiteId_fkey" FOREIGN KEY ("campsiteId") REFERENCES "Campsite"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Availability" ADD CONSTRAINT "Availability_campsiteId_fkey" FOREIGN KEY ("campsiteId") REFERENCES "Campsite"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CampsiteFacility" ADD CONSTRAINT "CampsiteFacility_campsiteId_fkey" FOREIGN KEY ("campsiteId") REFERENCES "Campsite"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CampsiteFacility" ADD CONSTRAINT "CampsiteFacility_facilityTagId_fkey" FOREIGN KEY ("facilityTagId") REFERENCES "FacilityTag"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CrawlLog" ADD CONSTRAINT "CrawlLog_sourceSiteId_fkey" FOREIGN KEY ("sourceSiteId") REFERENCES "SourceSite"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

